<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>TinyApp - My URLs</title>
  </head>
  <body>
    <main style="margin: 1em;">
      <h1>My URLs</h1>
      <table>
        <tr>
          <th>Short URL ID</th>
          <th>Long URL</th>
        </tr>
        <% for (const url in urls) { %>
          <tr>
            <td><%= url %></td>
            <td><%= urls[url] %></td>
          </tr>
        <% } %>
      </table>
    </main>
  </body>
</html>
