<!-- urls_index.ejs -->

<h1>My URLs</h1>

<ul>
  <% for (let shortURL in urls) { %>
    <li>
      <div><%= shortURL %></div>
      <div>
        <a href="<%= urls[shortURL] %>"><%= urls[shortURL] %></a>
        <form method="POST" action="/urls/<%= shortURL %>/delete">
          <button type="submit">Delete</button>
        </form>
      </div>
    </li>
  <% } %>
</ul>
